.accordion-button {
    color: #650000;
    font-size: 14px !important;
}

.accordion-body {
    font-size: 14px;
}

.profile-form-input {
    color: #000000;
    font-size: 12px !important;
    border: 1px solid #cce0e0;
}