{% extends "base.html" %}
{% load static %}

{% block page_header%}
  <div class="container-fluid page-header-margin">
    <div class="row">
      <div class="col text-center">
        <h1>Your Shopping cart</h1>
      </div>
    </div>
  </div>
{% endblock %}
  
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col my-5">
        {% if cart_items %}
          <div class="table-responsive">
            <table class="table table-sm table-borderless">
              <thead>
                <tr>
                  <th scope="col">Product Info</th>
                  <th scope="col"></th>
                  <th scope="col">Price</th>
                  <th scope="col">Qantity</th>
                  <th scope="col">Subtotal</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              {% for item in cart_items %}
                  <tr>
                      <td class="py-3">
                          <img class="" src="/static/{{ product.image }}">
                      </td>
                      <td class="py-3">
                          <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                          <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                      </td>
                      <td class="py-3">
                          <p class="my-0">{{ item.product.price }}€</p>
                      </td>
                      <td class="py-3">
                          <div class="col">
                            <form class="form" action="" method="POST">
                              {% csrf_token %}
                              <div class="form-row">
                                  <div class="col">
                                      <div class="form-group w-50">
                                          <div class="input-group">
                                            <input class="form-control qty_input" type="number" name="quantity" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}" value="{{ item.quantity }}">
                                            <button class="btn btn-outline-secondary increment-qty" type="button" data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}"><i class="fas fa-xs fa-plus"></i></button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </form>
                          </div>
                      </td>
                      <td class="py-3">
                          <p class="my-0">{{ item.product.price }}€</p>
                      </td>
                      <td class="py-3">
                          <a href="" class="btn btn-outline-dark">Delete</a>
                      </td>
                  </tr>
              {% endfor %}
              <tr>
                <td colspan="5" class="pt-5 text-right">
                  <p><strong>Cart Total: {{ total|floatformat:2 }}€</strong></p>
                  <p>Delivery cost: {{ delivery|floatformat:2 }}€</p>
                  <h4 class="mt-4"><strong>Grand Total: {{ grand_total|floatformat:2}}€</strong></h4>
                </td>
              </tr>
              <tr>
                  <td colspan="5" class="text-right">
                      {% include 'includes/btn-product-overview.html' %}
                      <a href="" class="btn btn-success">
                          <span class="text-uppercase">Secure Checkout</span>
                          <span class="icon">
                              <i class="fas fa-lock"></i>
                          </span>
                      </a>
                  </td>
              </tr>
            </table>
        </div>
        {% else %}
          <p>Your shopping cart is empty. The products you add, will be shown here.</p>
          <div></div>
          {% include 'includes/btn-product-overview.html' %}
        {% endif %}
      </div>
    </div>

  </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
 <script src="{% static 'js/quantity_input.js' %}"></script>
{% endblock %}