{% extends "base.html" %}
{% load static %}

{% block page_header%}
    <div class="container-fluid page-header-margin text-center">
        <div class="row">
            <div class="col">
                <h1>About Anime Art</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- First content block -->
    <div class="container-fluid mt-md-5">
        <div class="row justify-content-center mt-md-5">
            <div class="col-sm-12 col-md-8 about-img">
                <img class="img-fluid rounded" src="{{ MEDIA_URL }}digital_blackgokussjrose.jpeg" alt="About Anime Art">
            </div>
            <div class="col-sm-12 col-md-4 mx-md-5 mt-3 align-self-center">
                <p>
                    To sum it up in one sentence: <span class="text-red"><b>We just love anime!</b></span><br><br>
                    What's the best after a stressing day? To sit down, take a pen and start drawing. 
                    But what is it worth when you have a folder full of pictures that noone will ever see?<br><br>
                    That's why we founded Anime Art. We want to share the art of our talented artist Shippudeve, 
                    because we believe every anime fan (and even the ones who never saw any anime) will love seeing these art pieces every day on their wall.<br><br>
                    We hope you enjoy as much as we authentic artwork that is unique!
                </p>
            </div>
        </div>
    </div>
    <!-- Second content block -->
    <div class="container-fluid mt-md-5">
        <div class="row mt-md-5">
            <div class="col mt-5 text-center">
                <h1>Our Products</h1>
            </div>
        </div>
        <div class="row justify-content-center mt-md-5">
            <div class="col-sm-12 col-md-4 mt-3">
                <p>
                    The products that we sell are all handmade and authentic. 
                    You won't find them anywhere in the world, as our artist draws every piece on her on. 
                    She doesn't just copy from animes, but gives her artwork a special touch.<br><br>
                    We offer two different types of art: Digital drawings (created digitally) and classic drawings (created with paper and pen). 
                    At the moment we have many digital drawings in our stock, but of the classic ones there are more to come.<br><br>
                    Our products will be all printed on high quality paper, so it looks wonderful in a nice frame!<br><br>
                    As we are a small start up company, we are still limited, so right now you can buy the images in only one size (42,0 cm x 59,4 cm / german DIN A2). 
                    We are working hard to be able to offer you more options on the sizes.<br><br>
                </p>
            </div>
            <div class="col-sm-12 col-md-8 mx-md-5 about-img order-first order-md-last align-self-center">
                <img class="img-fluid rounded" src="{{ MEDIA_URL }}digital_livaixnaruto.jpeg" alt="Our Products">
            </div>
        </div>
    </div>
    <!-- Third content block -->
    <div class="container-fluid mt-md-5">
        <div class="row mt-md-5">
            <div class="col mt-5 text-center">
                <h1>The Artist</h1>
            </div>
        </div>
        <div class="row justify-content-center mt-md-5">
            <div class="col-sm-12 col-md-8 about-img">
                <img class="img-fluid rounded" src="{{ MEDIA_URL }}digital_livaixnaruto.jpeg" alt="About Anime Art">
            </div>
            <div class="col-sm-12 col-md-4 mx-md-5 mt-3 align-self-center">
                <p>
                    Her name is Shippudeve and a few years back she fell in love with anime. 
                    But only watching anime was not enough for her and so she found her creative side and begin to draw... 
                    At first only with a pen on paper and with getting better and better she decided to try drawing digitally. 
                    To share her passion and hobby with others, she is now selling her art in this online shop. <br><br>
                    By the way, you could have might guessed, but her favourite anime is of course Naruto 🍜
                </p>
            </div>
        </div>
    </div>
    <!-- Fourth content block -->
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12 text-center mt-md-5">
                <h1>FAQ</h1>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-sm-12 col-md-6 mx-5">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                How much does it cost?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Classic Drawings cost 49.99€ and Digital Drawings are 39.99€.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How much is the delivery fee?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>We have a fixed delivery fee of 3.99€.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Where do you send the orders to?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>We ship orders in whole europe.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Can I return my drawing?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>If it does not fullfill your expectation you can always send your product back and we return your money. Keep in mind that we don't take over the returning fees.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CTA -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col text-center">
                <a href="{% url 'products' %}" class="btn home-btn-all hvr-grow">Shop Now</a>
            </div>
        </div>
    </div>
{% endblock %}