{% extends "base.html" %}
{% load static %}

{% block page_header%}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col">
                <h1>Who are we?</h1>
                <h1>Who are we?</h1>
                <h1>Who are we?</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <!-- First content block -->
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col text-center">
                <h1>About Anime Art</h1>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col col-md-8 home-img">
                <img class="img-fluid rounded" src="{% static 'product7.jpeg' %}" alt="">
            </div>
            <div class="col col-md-4 mx-5">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
    <!-- Second content block -->
    <div class="container-fluid mt-5">
        <div class="row mt-5">
            <div class="col mt-5 text-center">
                <h1>Our Products</h1>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col col-md-4">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="col col-md-8 mx-5 home-img">
                <img class="img-fluid rounded" src="{% static 'product7.jpeg' %}" alt="">
            </div>
        </div>
    </div>
    <!-- Third content block -->
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col text-center">
                <h1>FAQ</h1>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-6 mx-5 text-center">
                <h6><strong>How much does it cost?</strong></h6>
                <p>Prices have a span between xx and xx €.</p>
                <br>
                <h6><strong>How much is the delivery fee?</strong></h6>
                <p>We have a fixed delivery fee of 3.99€.</p>
                <br>
                <h6><strong>Where do you send the orders to?</strong></h6>
                <p>We ship orders in whole europe.</p>
                <br>
                <h6><strong>Can I return my drawing?</strong></h6>
                <p>If it does not fullfill your expectation you can always send your product back and we return your money. Keep in mind that we don't take over the returning fees.</p>
            </div>
        </div>
    </div>
    <!-- CTA 2 -->
    <div class="container-fluid second-home-cta">
        <div class="row justify-content-center">
            <div class="col text-center">
                <button type="button" class="btn btn-lg btn-dark">
                    Shop now
                 </button>
            </div>
        </div>
    </div>

{% endblock %}