{% extends "base.html" %}
{% load static %}

{% block page_header%}
    <div class="container-fluid">
        <div class="row">
            <div class="col heroimage"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
     <!-- CTA 1 -->
    <div class="container-fluid first-home-cta">
        <div class="row justify-content-center">
            <div class="col text-center">
                <a href="{% url 'products' %}" class="btn btn-lg btn-light">Shop now</a>
            </div>
        </div>
    </div>
    
    
    <!-- CTA 2 -->
    <div class="container-fluid second-home-cta">
        <div class="row justify-content-center">
            <div class="col text-center">
                <a href="{% url 'products' %}" class="btn btn-lg btn-dark">Shop now</a>
            </div>
        </div>
    </div>

{% endblock %}