{% extends "base.html" %}
{% load static %}

{% block page_header%}
    <div class="container-fluid">
        <div class="row">
            <div class="col heroimage"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
     <!-- CTA 1 -->
    <div class="container-fluid header-text">
        <div class="row justify-content-center">
            <div class="col text-center">
                <h1 class="txt-white">Welcome to anime Art</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
         <!-- Home text -->
        <div class="row">
            <div class="col-sm-12">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <!-- Product buttons-->
        <div class="row">
            <div class="col-sm-12 text-center">
                <a href="{% url 'products' %}" class="btn home-btn-all">All Products</a>
            </div>
        </div>
    </div>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-sm-12 digital-drawing text-center">
                <a href="{% url 'products' %}?type=digital_drawing" class="btn home-btn">Digital Drawings</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 classic-drawing text-center">
                <a href="{% url 'products' %}?type=classic_drawing" class="btn home-btn">Classic Drawings</a>
            </div>
        </div>
    </div>

{% endblock %}