<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link hvr-grow" href="{% url 'home' %}">Home</a>
  </li>
  <li class="dropdown">
      <a class="nav-link hvr-grow" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Products
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="user-options">
            <a href="{% url 'products' %}?type=classic_drawing" class="dropdown-item">Classic Drawings</a>
            <a href="{% url 'products' %}?type=digital_drawing" class="dropdown-item">Digital Drawings</a>
            <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
      </div>
    </li>

  <li class="dropdown">
    <a class="nav-link hvr-grow" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Account
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
          <a href="" class="dropdown-item">My Account</a>
          <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        {% else %}
          <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
          <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        {% endif %}
    </div>
  </li>
  {% if request.user.is_authenticated %}
    {% if request.user.is_superuser %}
      <li class="dropdown">
        <a class="nav-link hvr-grow" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="user-options">
              <a href="" class="dropdown-item">User Management</a>
              <a href="" class="dropdown-item">Product Management</a>
        </div>
      </li>
    {% endif %}
  {% endif %}
  <li>
      <a class="nav-link hvr-grow" href="{% url 'view_cart' %}">
          <div class="text-center">
              <i class="fas fa fa-shopping-cart"></i>
              <p class="">
                  {% if grand_total %}
                      {{ grand_total|floatformat:2 }}€
                  {% endif %}
              </p>
          </div>
      </a>
  </li>
</ul>


<script>
var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle'));
var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {
  return new bootstrap.Dropdown(dropdownToggleEl)
})
</script>