<nav class="navbar">
  <div class="container-fluid justify-content-center">
    <a class="navbar-brand" href="{% url 'home' %}"><h2>Anime Art</h2></a>
    <button class="navbar-toggler cus-btn-red bg-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="text-red py-2"><i class="fas fa-bars"></i></span>
    </button>
    <div class="offcanvas offcanvas-end cus-bg" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <a class="text-decoration-none" href="href="{% url 'home' %}"><h5 class="offcanvas-title" id="offcanvasNavbarLabel">Anime Art</h5></a>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link hvr-grow" href="{% url 'view_cart' %}">
              <p class="text-red"> <i class="fas fa-shopping-cart"></i>
                {% if total %}
                    {{ total|floatformat:2 }}€
                {% endif %}
              </p>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link hvr-grow dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Products
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="offcanvasNavbarDropdown">
                <li>
                  <a class="dropdown-item" href="{% url 'products' %}">
                    <h6 class="text-red"><i class="fas fa-paint-brush"></i> All Products</h6>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'products' %}?type=classic_drawing">
                    <h6 class="text-red"><i class="fas fa-paint-brush"></i> Classic Drawings</h6>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'products' %}?type=digital_drawing">
                    <h6 class="text-red"><i class="fas fa-paint-brush"></i> Digital Drawings</h6>
                  </a>
                </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link hvr-grow dropdown-toggle" href="#" id="accountNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="accountNavbarDropdown">
              {% if request.user.is_authenticated %}
                <li>
                  <a class="dropdown-item" href="{% url 'profile' %}">
                    <h6 class="text-red"><i class="fas fa-user-circle"></i> My Profile</h6>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'account_logout' %}">
                    <h6 class="text-red"><i class="fas fa-sign-out-alt"></i> Logout</h6>
                  </a>
                </li>
              {% else %}
                <li>
                  <a class="dropdown-item" href="{% url 'account_signup' %}">
                    <h6 class="text-red"><i class="fas fa-user-plus"></i> Register</h6>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'account_login' %}">
                    <h6 class="text-red"><i class="fas fa-sign-in-alt"></i> Login</h6>
                  </a>
                </li>
              {% endif %}
            </ul>
          </li>
          {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
              <li class="nav-item dropdown">
                <a class="nav-link hvr-grow dropdown-toggle" href="#" id="adminNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Admin
                </a>
                <ul class="dropdown-menu border-0" aria-labelledby="adminNavbarDropdown">
                  {% if request.user.is_authenticated %}
                    <li>
                      <a class="dropdown-item" href="{% url 'add_product' %}">
                        <h6 class="text-red"><i class="fas fa-plus-circle"></i> Add products</h6>
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </li>
            {% endif %}
          {% endif %}
          <li class="nav-item">
            <a class="nav-link hvr-grow" aria-current="page" href="{% url 'about' %}">About Us</a>
          </li>
        </ul>
        <form class="d-flex my-4" method="GET" action="{% url 'products' %}">
          <input class="form-control me-2" type="search" placeholder="Type to search" name="q" aria-label="Search" required>
          <button class="btn cus-btn-red" type="submit">Search</button>
        </form>
        <hr>
        <div class="social-nav">
          <span><b>Contact:</b></span>
          <br>
          <p class="font-sm">
            <a class="text-decoration-none" href="mailto:animeartonlineshop@gmail.com" target="_blank" title="Email"><i class="far fa fa-envelope text-red"></i> animeartonlineshop@gmail.com</a><br>
            Anime Street 500<br>
            5000 Anime Town<br>
            Animeworld<br>
            <a href="https://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa fa-facebook mx-1 text-red"></i></a>
            <a href="https://www.instagram.com/" target="_blank" title="Instagram"><i class="fab fa fa-instagram mx-1 text-red"></i></a>
            <a href="https://www.tiktok.com/" target="_blank" title="TikTok"><i class="fab fa-tiktok mx-1 text-red"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>