{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block page_header %}
  <div class="container page-header-margin text-center">
    <div class="row">
      <div class="col">
        <h1>{% trans "Change Password" %}</h1>
      </div>
    </div>
  </div>
{% endblock %}

{% block inner_content %}
  <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
      <button class="btn green-btn hvr-grow" type="submit" name="action">{% trans "Change Password" %}</button>
    </p>
    <a class="text-red" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </form>
{% endblock %}
