@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&family=Roboto:wght@100;300;400;500&display=swap');

/* Basic elements */

html, body {
  height: 100%;
}

body, header {
    background-color: #fbf9f9;
}

body > footer, .social-nav {
    position: sticky;
    top: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

a {
    color: #000;
}

a:hover {
    color: #000;
}

/* Custom content style */

.txt-white {
    color: #fff;
}

.font-sm {
    font-size: 12px;
}

.cus-bg, .dropdown-menu {
    background-color: #fbf9f9;
}

.text-red {
    color: #650000;
}

/* Buttons */

button {
    font-family: 'Cinzel', serif;
    font-weight: 500;
}

.btn {
    font-family: 'Cinzel', serif;
    font-weight: 500;
}

.btn:focus {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0)
}

.green-btn {
    background-color: #cce0e0;
    border-color: #3d4343;
    color: #3d4343;
    font-weight: 700;
}

.cus-btn-red {
    color: #650000 !important;
    border-color: #650000 !important;
    background-color: #e0cccc;
}

.delete-btn, .delete-btn:hover {
    border-color: #650000 !important;
    background-color: #650000;
    color: #fff;
}

.home-btn, .home-btn:hover {
    font-size: 20px;
    font-weight: 800;
    background-color: #e0cccc;
    color: #650000;
    border-color: #650000;
    border-radius: 10px;
    border-width: 5px;
    margin-top: 8rem;
    padding: 2rem;
}

.home-btn-all, .home-btn-all:hover {
    font-size: 20px;
    font-weight: 800;
    background-color: #e0cccc;
    color: #650000;
    border-color: #650000;
    border-radius: 10px;
    border-width: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #650000;
    color: #fff;
    z-index: 9999;
}

.accordion-button:not(.collapsed) {
    background-color: #e0cccc !important;
    color: #650000 !important;
}

.accordion-button:focus {
    border-color: #650000 !important;
    box-shadow: 0 0 0 0.25rem rgb(101 0 0 / 100%);
}

/* Forms */

.form-control {
    font-size: 12px;
}

/* Navigation */

.navbar {
    border-bottom: 1px solid #650000;
    background-color: #e0cccc;
}

.navbar-brand {
    padding-bottom: 0;
}

.nav-link, .dropdown-item {
    font-family: 'Cinzel', serif;
    color: #000;
    font-weight: 300;
    padding-right: 1rem;
}

.nav-link:hover {
    color: #000;
}

.nav-link:focus {
    color: #000;
}

/* Page header */

.page-header-margin {
    margin-top: 6rem;
    margin-bottom: 2rem;
}

/* Home */

.heroimage {
    background-image: url('../img/heroimage.png');
    background-color: #181818;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: auto;
    margin-top: 4.2rem;
}

.classic-drawing {
    background-image: url('/media/classic_sukunaitadori.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    margin-top: 0.5rem;
}

.digital-drawing {
    background-image: url('/media/digital_kakshihatake.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    margin-top: 0.5rem;
}

.about-img {
    width: 400px;
    height: auto;
}

.header-text {
    background-color: #181818;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-bottom: 4rem;
}

/* Products */

.card, .card-img-top {
    border: none;
    /* Help from https://stackoverflow.com/questions/39031224/how-to-center-cards-in-bootstrap-4 */
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

/* Checkout */

.checkout-icon {
    color: #3d4343;
}

/* From Hover.css (https://github.com/IanLunn/Hover/blob/master/css/hover.css) */

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
-webkit-transform: scale(1.1);
transform: scale(1.1);
}

/* Media Queries */

@media only screen and (max-width: 600px) {
    .heroimage {
    background-image: url('../img/heroimage.png');
    background-size: contain;
    margin-top: 3rem;
    background-position: center;
    /* height: 3000px; */
    background-color: #181818;
    width: 100%;
    }

    .cart-th {
        display: none;
    }

    .cart-mt-sm {
        margin-top: 1rem;
    }
}
