{% extends "base.html" %}
{% load static %}

{% block page_header%}
  <div class="container-fluid page-header-margin">
    <div class="row">
      <div class="col text-center">
        <h1>Add a Product</h1>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-3">
                <form method="POST" action="{% url 'add_product' %}" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <a href="{% url 'products' %}" class="btn cus-btn-red hvr-grow mx-2">Cancel</a>
                    <button class="btn green-btn hvr-grow mx-2" type="submit">Add Product</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}