{% extends "base.html" %}
{% load static %}

{% block page_header%}
  <div class="container-fluid page-header-margin">
    <div class="row">
      <div class="col text-center">
        <h1>{{ product.name }}</h1>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col">
          <a class="btn btn-dark" href="{% url 'products' %}" role="button">
            <i class="fas fa-long-arrow-alt-left"></i> Back To Overview
          </a>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row mt-5">
            <div class="col-6">
                <img src="/static/{{ product.image }}" class="card-img-top" alt="{{product.name}}">
            </div>
            <div class="col-6 text-center my-5">
                <div class="row">
                    <h5>{{ product.name}}</h5>
                </div>
                <div class="row">
                    <p>{{ product.price}}€</p>
                </div>
                <div class="row">
                    <p>{{ product.description}}</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col text-center mt-5">
          <a class="btn btn-dark" href="{% url 'products' %}" role="button">
            <i class="fas fa-long-arrow-alt-left"></i> Back To Overview
          </a>
        </div>
      </div>
    </div>

{% endblock %}