{% extends "base.html" %}
{% load static %}

{% block page_header%}
  <div class="container-fluid page-header-margin">
    <div class="row">
      <div class="col text-center">
        <h1>Our Products</h1>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center mt-3">
        <a href="{% url 'products' %}" class="btn btn-outline-secondary">All</a>
        <a href="{% url 'products' %}?type=classic_drawing" class="btn btn-outline-secondary">Classic Drawings</a>
        <a href="{% url 'products' %}?type=digital_drawing" class="btn btn-outline-secondary">Digital Drawings</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3">
      {% for product in products %}
        <div class="col col-sm-1 text-center my-5">
          <!-- From Bootstrap -->
          <div class="card h-100 w-50">
            <a href="{% url 'product_display' product.id %}">
              <img src="/static/{{ product.image }}" class="card-img-top" alt="{{product.name}}">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{ product.name}}</h5>
              <p class="card-text">{{ product.price}}€</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}