{% extends "base.html" %}
{% load static %}

{% block page_header%}
  <div class="container-fluid page-header-margin">
    <div class="row">
      <div class="col text-center">
        <h1>{{ product.name }}</h1>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col">
          <h6>sorting</h6>
        </div>
      </div>

      <div class="row">
        {% for product in products %}
          <div class="col-sm-6 text-center my-5">
            <!-- From Bootstrap -->
            <div class="card h-50 w-50">
                <img src="/static/{{ product.image }}" class="card-img-top" alt="{{product.name}}">
              <div class="card-body">
                <h5 class="card-title">{{ product.name}}</h5>
                <p class="card-text">{{ product.price}}€</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

{% endblock %}